body {
	text-align: center;
	font-family: arial, sans-serif;
	background-image: url("login1.jpg"); 
	background-attachment: scroll;
	color: white;

}
form {
	border: 3px solid #f1f1f1; 
	margin-top: auto;
	width: 30%;
	height: 100%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: black; 
	
}

input[type="email"], [type="password"] {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	opacity: 100%;
	background-color: black;
	color: white;
}

#submit {
  background-color: darkred;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 23%;
  margin-top: 11rem;
}

#register{
	background-color: #04AA6D;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

img.avatar {
  width: 40%;
  border-radius: 10%;
  
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
	padding: 16px;
	opacity: 100%;

}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }

 .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}